{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div class="center-layer">
    <h2 class="headers">О проекте</h2>
    <p>
      Мы - развивавающийся онлайн-супермаркет, предоставляющий сотни товаров.
      У нас вы можете купить все необходимое для поездки на дачу, природу или просто для дома - одним словом,
      все то, что обычно можно купить в супермаркете. Но теперь онлайн, не выходя из дома, всего в несколько кликов.
    </p>
    <p>
      Мы ставим своей целью продвижение полезных продуктов с минимальным количеством пищевых добавок и eco-friendly товаров.
    </p>
    <p>
      Присоединяйтесь к нам! Позже здесь появятся ссылки на наши соцсети.
    </p>
  </div>
{% endblock %}