<header>
  <nav class="navbar navbar-expand-md" style="background-color: #DFFDED;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage:home' %}">Онлайн-супермаркет</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        {% with request.resolver_match.view_name as view_name %}
        {% with request.path_info as path %}
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}" href="{% url 'homepage:home' %}">На главную</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'catalog:item_list' %}active{% endif %}" href="{% url 'catalog:item_list' %}">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'about:about' %}active{% endif %}" href="{% url 'about:about' %}">О проекте</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'feedback:feedback' %}active{% endif %}" href="{% url 'feedback:feedback' %}">Обратная связь</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if path == '/users/user_list/' %}active{% endif %}" href="/users/user_list">Список пользователей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if path == '/users/profile/' %}active{% endif %}" href="/users/profile">Мой профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if path == '/auth/signup/' %}active{% endif %}" href="/auth/signup/">Регистрация</a>
          </li>
        </ul>
        {% endwith %}
        {% endwith %}
      </div>
    </div>
  </nav>
</header>